body {
    background-image: linear-gradient(to right, rgb(33, 92, 202),deepskyblue,rgb(33, 92, 202));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    text-align: justify;
}
h1 {
    text-align: center;
    text-shadow: 3px 3px 5px rgba(7, 31, 99, 0.75);
}
h4 {
    text-align: center;
    font-style: italic;
    font-size: large;
    border-radius: 25px;
    border: 2px solid deepskyblue;
    padding: 10px;
    width: auto;
    height: auto;
}
#tartalom {
    background-color: rgba(33, 92, 202, 0.623);
    box-shadow: 8px 8px 5px 0px rgba(7, 31, 99, 0.75);
    margin: auto;
    margin-top: 80px;
    width: 576px;
    padding: 25px;
    padding-top: 5px;
	padding-bottom: 8px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: deepskyblue;
}

a:active {
  color: deepskyblue;
}
